@import "../../../../../assets/variables.scss";

.carousel{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    &__item-container {
        display: flex;
        width: 100%;
    }

    &__slides-container {
        display: flex;
        width: 100%;
        height: 10rem;
        justify-content: space-evenly;
    }

    &__item {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        max-width: 7.5rem;
        text-align: center;
    }

    &__navigation-container {
        margin-top: auto;
        margin-bottom: auto;
        color: $sandy;
        cursor: pointer;

        &--left {
            margin-left: 0;
        }

        &--right {
            margin-right: 0;
        }
    }
}

@media only screen and (max-width: 770px)  {
    .carousel {
        &__item {
            margin-left: 0.25rem;
            margin-right: 0.25rem;
        }

        &__slides-container {
            height: 12rem;
        }
    }
}

// @media screen and (max-width: 768px) and (min-width: 400px) {
//     .adnotated-image{
//     }
// }

// @media screen and (max-width: 400px) {
//     .adnotated-image{
//     }
// }