<div class="carousel">
    <div class="carousel__item-container" *ngIf="slides.length">
        <div class="carousel__navigation-container carousel__navigation-container--left">
            <mat-icon (click)="previouseGroup()">keyboard_arrow_left</mat-icon>
        </div>
        <div class="carousel__slides-container">
            <app-adnotated-image class="carousel__item" *ngFor="let item of singleGroup; let itemIndex = index" [adnotation]="item"></app-adnotated-image>
        </div>
        <div class="carousel__navigation-container carousel__navigation-container--right">
            <mat-icon (click)="nextGroup()">keyboard_arrow_right</mat-icon>
        </div>
    </div>
    <div class="carousel__item-container" *ngIf="!slides.length">
        <span>Cast data is empty.</span>
    </div>
</div>
