@import "../../../../../assets/variables.scss";

$icon-size: 30px;

.home-search {
    &__container{
        width: 18rem;
    }
    &__label{
        color: $emerald-light-grey;
    }
    &__input{
        color: $sandy;
        font-weight: bold;
    }
    &__hint{
        color: $sandy;
    }
    &__icon{
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
        color: $emerald-light-grey;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1921px) {
    .home-search {
        &__container {
            width: 20rem;
        }

        &__input {
            font-size: 125%;
        }

        &__hint {
            font-size: 150%;
        }
    }
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $emerald-light-grey !important;
}

::ng-deep .mat-input-element {
    caret-color: $emerald-light-grey !important;

    @media screen and (min-width: 1921px) {
        font-size: 125%;
    }
}