<div class="home-search__wrapper">
    <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
        <mat-form-field appearance="fill" class="home-search__container">
            <mat-label class="home-search__label">Find your movie</mat-label>
            <input matInput placeholder="" formControlName="text" class="home-search__input">
            <mat-icon matSuffix class="home-search__icon" ng-click="submitForm()">
                search
            </mat-icon>
            <mat-hint class="home-search__hint">You can search for title and a year!</mat-hint>
        </mat-form-field>
    </form>
</div>