<app-header-search></app-header-search>

<div *ngIf="data.length && dataLoaded" class="search-content">
    <infinite-scroll (scrolled)="onScrolled()">
        <app-content-container [title]="'We found some: '">
            <app-search-item *ngFor="let movie of data;" [data]="movie"></app-search-item>
        </app-content-container>
    </infinite-scroll>
</div>

<div *ngIf="!data.length && dataLoaded" class="search-content">
    <app-content-container [title]="'No movies found :('">
        <p>Sorry we were unable to retrieve such a movie.</p>
    </app-content-container>
</div>

<div *ngIf="!dataLoaded" class="search-content">
    <app-content-container [title]="'Loading...'">
        <p>Loading...</p>
    </app-content-container>
</div>