@import "../../../../../assets/variables.scss";

.search-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 600px)  {
    .home {
        margin-top: 15vh;
    }  
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
    .home {
        margin-top: 10vh;
    }  
}
