<div class="rating">
    <div class="rating__provider-text-container">
        <span class="rating__provider-text">{{providerName}}</span>
    </div>
    <div class="rating__color-filling-container" *ngIf="!special">
        <div class="rating__color-filling" [style.width.rem]="fillingWidth"></div>
    </div>
    <div class="rating__star-filling-container" *ngIf="special">
        <div class="rating__star-filling" [style.width.rem]="fillingWidth">
            <mat-icon>start</mat-icon>
            <mat-icon>start</mat-icon>
            <mat-icon>start</mat-icon>
            <mat-icon>start</mat-icon>
            <mat-icon>start</mat-icon>
        </div>
    </div>
    <span class="rating__provider-value">
        {{ratingValue}}
    </span>
</div>