@import "../../../../../assets/variables.scss";

.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    &__provider-text {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1.125rem;
        color: $emerald-light-grey;
    }

    &__provider-text-container {
        width: 14rem;
    }

    &__color-filling-container {
        width: 7.5rem;
        height: 1rem;
        border: 0.0625rem solid $emerald-light-grey;
        margin-top: 0.0625rem*3;
        margin-bottom: auto;
        background-color: $emerald-grey;
        cursor: help;
    }

    &__color-filling {
        background-color: $sandy;
        height: calc(1rem - 2*0.0625rem);
        width: 6rem;
    }

    &__star-filling-container {
        width: 7.5rem;
        height: 1rem;
        margin-top: 0;
        margin-bottom: auto;
        cursor: help;
    }

    &__star-filling {
        display: flex;
        overflow: hidden;
        height: 1.5rem;
        width: 7.5rem;
        color: $imdb-star-gold;
    }

    &__provider-value {
        color: $emerald-light-grey;
        margin-left: 0.5rem;
        font-weight: bold;
    }
}

@media only screen and (max-width: 770px)  {
    .rating {
        width: 100vw;

        &__provider-text-container {
            width: 11rem;
        }

        &__provider-value {
            margin-left: 0.0625rem;
        }
    }
}
