@import "../../../../../assets/variables.scss";

.search-item{
    display: flex;
    flex-direction: row;
    background-color: $emerald-grey;
    color: $emerald-light-grey;
    border-radius: 0.25rem;

    &__header{
        padding-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    &__header-text{
        margin-left: 1.25rem;
        font-weight: bold;
        font-size: 1.25rem;
    }

    &__child {
        margin-left: 1.75rem;
    }

    &__info-wrapper {
        width: 100%;
    }

    &__poster-container {
        margin-left: -1.25rem;
        margin-bottom: 0.5rem;
    }

    &__info-container {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        margin-bottom: 0.5rem;
        width: 100%;

        &--right{
            margin-right: 5rem;
        }
    }

    &__plot {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 1.25rem;
        margin-right: 5rem;
    }

    &__title {
        font-weight: bold;
        color: $sandy;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__year {
        color: $sandy;
    }

}

@media screen and (max-width: 768px) and (min-width: 500px){
    .search-item{
        &__info-container {
            margin-top: auto;
        }

        &__plot{
            margin-top: 0;
            margin-bottom: 2rem;
            margin-left: 1.25rem;
            margin-right: 1.25rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .search-item{
        &__info-container {
            flex-direction: column;
            margin-top: auto;
            margin-left: 0.25rem;

            &--right {
                margin-right: auto;
                margin-left: 0.25rem;
                margin-top: 0.25rem;
            }
        }

        &__poster-container {
            margin-left: 0.25rem;
            margin-bottom: 0.5rem;
        }

        &__plot{
            margin-top: 0;
            margin-bottom: 2rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        &--mobile-removal{
            display: none;
        }

        &__title {
            text-align: center;
        }
    }
}

::ng-deep .footer {
    position: inherit;
}
