<div class="search-item">
    <div class="search-item__poster-container">
        <div class="search-item__poster-box">
            <app-rated-image [size]="posterSize" [imageSource]="posterUrl" [rating]="ratingText">
            </app-rated-image>
        </div>
    </div>
    <div class="search-item__info-wrapper">
        <div class="search-item__info-container">
            <a (click)="navigateToMovie()" class="search-item__title">{{data.Title}} ({{data.Type}})</a>
            <div class="search-item__info-container--right">
                Year: <span class="search-item__year">{{data.Year}}</span>
            </div>
        </div>
        <div *ngIf="plotLoaded" class="search-item__plot">
            <p class="search-item--mobile-removal">Plot: </p>
            <span>{{data.plot}}</span>
        </div>
        <div *ngIf="!plotLoaded" class="search-item__plot">
            <p class="search-item--mobile-removal">Plot: </p>
            <span>...</span>
        </div>
    </div>
</div>