@import "../../../../../assets/variables.scss";

.content-container{
    display: flex;
    flex-direction: column;
    background-color: $emerald-grey;
    color: $emerald-light-grey;
    border-radius: 0.25rem;
    width: 70vw;
    margin-top: 6rem;
    margin-bottom: 2rem;


    &__header{
        padding-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    &__header-text{
        margin-left: 1.25rem;
        font-weight: bold;
        font-size: 1.25rem;
    }

    &__child {
        margin-left: 1.75rem;
    }
}

@media screen and (max-width: 768px) and (min-width: 500px) {
    .content-container{
        width: 90vw;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 500px) {
    .content-container{
        width: 98vw;
        margin-top: 11rem;

        &__header-text{
            margin-left: 0.75rem;
            font-weight: bold;
            font-size: 1.25rem;
        }
    
        &__child {
            margin-left: 0;
        }
    }
}

@media screen and (min-width: 1920px) {
    .content-container{
        width: 84.375rem;
    }
}
