<div class="content-container">
    <div class="content-container__header">
        <span class="content-container__header-text">{{title}}</span>
    </div>
    <div class="content-container__child">
        <ng-content></ng-content>
    </div>
</div>