@import "../../../../../assets/variables.scss";

.movie {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 2rem;

    &__main-area {
        display: flex;
        width: 40vw;
    }

    &__text {
        &--bold {
            font-weight: bold;
        }
    }

    &__title {
        font-weight: bold;
        color: $sandy;
        font-size: 1.5rem;

        &--smaller {
            font-size: 1.25rem;
        }

        &--with-margin {
            margin-top: 1rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__poster {
        cursor: pointer;
    }

    &__section-title {
        font-weight: bold;
        color: $sandy;
        font-size: 1.2rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    &__data-area {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 1rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__cast-area {
        display: flex;
        flex-direction: column;
    }

    &__additional-info {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    &__additional-info-row {
        display: flex;
        flex-direction: column;
        
        &--full-width {
            width: 100%;
        }

        &--right-margin {
            margin-right: 1rem;
        }
    }

    &__rating-row {
        display: flex;
        flex-direction: row;
    }

    &__additional-text {
        font-weight: normal;
        color: $emerald-light-grey;
        font-size: 1rem;
        margin-top: 0.25rem;
    }

    &__rating-text {
        font-weight: normal;
        color: $emerald-light-grey;
        font-size: 1rem;
        margin-top: 0.5rem;

        &--bold {
            font-weight: bold;
            margin-left: 0.5rem;
        }
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1366px) {
    .movie {
        margin-top: 12vh;

        &__main-area {
            display: flex;
            width: 55vw;
        }
    }  
}

@media only screen and (max-width: 1366px) and (min-width: 1024px) {
    .movie {
        margin-top: 12vh;

        &__main-area {
            display: flex;
            width: 65vw;
        }
    }  
}

@media only screen and (max-width: 1024px) and (min-width: 800px) {
    .movie {
        margin-top: 10vh;

        &__main-area {
            display: flex;
            width: 75vw;
        }
    }  
}

@media only screen and (max-width: 770px)  {
    .movie {
        margin-top: 25vh;
        
        &__main-area {
            flex-direction: column;
            align-content: center;
            display: flex;
            width: 100%;
        }

        &__title {
            text-align: center;
            margin-top: 0.5rem;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
        }

        &__additional-info {
            text-align: center;
            flex-direction: column;
        }

        &__poster-area {
            width: min-content;
            margin-left: auto;
            margin-right: auto;
        }

        &__data-area {
            margin-left: 0;
        }

        &__additional-info-row {
            margin-bottom: 0.5rem;

            &--right-margin {
                margin-right: 0;
            }
        }

        &__section-title {
            text-align: center;
        }

        &__info {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }  
}

hr {
    border-top: 1px solid $emerald-light-grey;
}

:host ::ng-deep .modal-content {
    background-color: transparent;
    border: none;
}

:host ::ng-deep .modal-body {
    padding: 0;
}

:host ::ng-deep .modal-dialog {
    max-width: 70vw;
}
