<app-header-search></app-header-search>

<div *ngIf="data && dataLoaded" class="movie">
    <div class="movie__container">
        <!-- Main area -->
        <div class="movie__main-area">
            <div class="movie__poster-area">
                <app-rated-image 
                    (click)="enlargePoster()" 
                    [size]="posterSize" 
                    [imageSource]="posterUrl" 
                    [rating]="data.imdbRating" 
                    class="movie__poster">
                </app-rated-image>
            </div>
            <div class="movie__data-area">
                <!-- Title and additional info -->
                <div class="movie__info">
                    <div class="movie__title">{{data.Title}} ({{data.Type}})</div>
                    <div class="movie__additional-info">
                        <div class="movie__additional-info-row movie__additional-info-row--full-width">
                            <span class="movie__additional-text">
                                Released: <span class="movie__text--bold">{{data.Released}}</span>
                            </span>
                            <span class="movie__additional-text">
                                Genre: <span class="movie__text--bold">{{data.Genre}}</span>
                            </span>
                            <span class="movie__additional-text">
                                Language: <span class="movie__text--bold">{{data.Language}}</span>
                            </span>
                        </div>
                        <div class="movie__additional-info-row movie__additional-info-row--full-width">
                            <span class="movie__additional-text">
                                Time: <span class="movie__text--bold">{{data.Runtime}}</span>
                            </span>
                            <span class="movie__additional-text">
                                Country: <span class="movie__text--bold">{{data.Country}}</span>
                            </span>
                            <span class="movie__additional-text">
                                Box office: <span class="movie__text--bold">{{data.BoxOffice}}</span>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Director section -->
                <div>
                    <div class="movie__title movie__title--smaller movie__title--with-margin"><hr>{{directorText}}</div>
                    <div class="movie__additional-info">
                        <div class="movie__additional-info-row movie__additional-info-row--right-margin" 
                            *ngFor="let director of data.Director;">
                            <app-adnotated-image [adnotation]="director"></app-adnotated-image>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cast area -->
        <div class="movie__cast-area" *ngIf="castArray.length">
            <div class="movie__section-title"><hr>Cast:</div>
            <app-carousel [data]="castArray"></app-carousel>
        </div>

        <div class="movie__cast-area" *ngIf="!castArray.length">
            <div class="movie__section-title"><hr>Cast:</div>
            <p >Cast was not found.</p>
        </div>

        <!-- Ratings area -->
        <div class="movie__cast-area" *ngIf="ratingsArray.length">
            <div class="movie__section-title"><hr>Ratings:</div>
        <div class="movie__rating-row">
            <app-rating [providerName]="'IMDb'" [ratingValue]="data.imdbRating" [special]="true"></app-rating>
        </div>
        <div class="movie__rating-row" *ngFor="let rating of ratingsArray;">
            <app-rating [providerName]="rating.Source" [ratingValue]="rating.Value"></app-rating>
        </div>

        <div class="movie__cast-area" *ngIf="!ratingsArray.length">
            <div class="movie__section-title"><hr>Ratings:</div>
            <div class="movie__rating-row">
                <span class="movie__rating-text movie__rating-text--bold">Other ratings were not found.</span>
            </div>
        </div>
    </div>
</div>

<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" 
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    (click) = "hideEnlargedPoster()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="{{posterUrl}}" id="imagepreview" (click) = "hideEnlargedPoster()">
            </div>
        </div>
    </div>
    </div>

<div *ngIf="!data && dataLoaded" class="movie">
    <p>Sorry we were unable to retrieve such a movie data.</p>
</div>