@import "../../../../assets/variables.scss";

.footer {
    display: flex;
    justify-content: center;
    background-color: $emerald;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &__container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 1.1rem;
        font-weight: bold;
        color: $emerald-black;
    }
}