@import "../../../../assets/variables.scss";

.page {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: $emerald-grey;
    height: none;

    margin-top: 10vh;
    margin-bottom: auto;
    margin-left: 40vw;
    margin-right: 40vw;

    &__text {
        font-size: large;
        font-weight: bold;
        color: $sandy;
    }

    &__logo {
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

@media only screen and (max-width: 600px)  {
    .page {
        margin-top: 15vh;
        margin-bottom: auto;
        margin-left: 10vw;
        margin-right: 10vw;

        &__logo {
            margin-top: 1vh;
        }
    }  
}

@media only screen and (max-width: 1024px)  {
    .page {
        margin-top: 20vh;
        margin-bottom: auto;
        margin-left: 25vw;
        margin-right: 25vw;

        &__logo {
            margin-top: 2.5vh;
        }
    }  
}

::ng-deep body {
    height: 0 !important;
}