@import "../../../../../assets/variables.scss";

.home {
    display: flex;
    justify-content: center;
    color: $sandy;
    margin-top: 20vh;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__search {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.25rem;
    }
}

@media only screen and (max-width: 600px)  {
    .home {
        margin-top: 15vh;
    }  
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
    .home {
        margin-top: 10vh;
    }  
}

@media only screen and (min-width: 1921px) {
    .home {
        margin-top: 25vh;
    
        &__search {
            margin-top: 2.5rem;
        }
    }
}

::ng-deep .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
