<div class="home">
    <div class="home__wrapper">
        <div>
            <app-logo [logoSize]="logoSize"></app-logo>
        </div>
        <div class="home__search">
            <app-home-search class="home__search"></app-home-search>
        </div>
    </div>
</div>