<header class="header-search">
    <div class="header-search__wrapper">
        <div class="header-search__logo">
            <a href=''>
                <app-logo [logoSize]="logoSize"></app-logo>
            </a>
        </div>
        <div class="header-search__form-container">
            <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
                <mat-form-field appearance="fill">
                    <mat-label class="header-search__form-label">Find your movie</mat-label>
                    <input matInput placeholder="" formControlName="text" class="header-search__form-input">
                    <mat-icon matSuffix class="header-search__form-icon" ng-click="submitForm()">
                        search
                    </mat-icon>
                </mat-form-field>
                <mat-form-field appearance="fill" class="header-search__form-select">
                    <mat-label class="header-search__form-label">Genre</mat-label>
                    <mat-select formControlName="genre" (selectionChange)="submitForm()">
                        <mat-option *ngFor="let genre of genres" 
                            [value]="genre.value" class="header-search__form-select-option">
                            {{genre.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </div>
</header>
