@import "../../../../assets/variables.scss";

.header-search {
    display: flex;
    background-color: $emerald-black;
    z-index: 200;
    
    $icon-size: 2rem;

    position: fixed;
    top: 0;
    width: 100vw;
    padding-bottom: 1rem;

    &__wrapper {
        display: inherit;
        margin-left: 1vw;
        margin-top: 1rem;
    }

    &__text {
        font-size: large;
        font-weight: bold;
        color: $sandy;
    }

    &__form-container {
        background-color: $emerald-black;
        margin-left: 1.25rem;
        height: 4rem;
    }

    &__form-label {
        color: $emerald-light-grey;
    }

    &__form-input {
        color: $sandy;
        font-weight: bold;
    }

    &__form-icon {
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
        color: $emerald-light-grey;
        cursor: pointer;
    }

    &__form-select {
        width: 6.2rem;
    }

}

@media screen and (max-width: 768px) {
    .header-search {
        justify-content: center;

        &__wrapper {
            flex-direction: column;
        }

        &__form-container {
            margin-left: auto;
            margin-top: 1rem;
        }
    }
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $emerald-light-grey !important;
}

::ng-deep .mat-input-element {
    caret-color: $emerald-light-grey !important;
}

::ng-deep .mat-select-value {
    color: $sandy;
    font-weight: 500;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0 !important;
}

::ng-deep .mat-select-panel{
    background-color: $emerald-grey;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: $sandy;
}

::ng-deep .mat-option{
    color: $emerald-light-grey;
}
