@import "../../../../assets/variables.scss";

.rated-image {
    &__container{
        position: relative;
        z-index: 100;
    }

    &__text{
        position: absolute;
        bottom: -10px;
        right: 5px;
        background-color: $emerald-grey;
        color: $sandy;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        font-weight: bold;
    }
}