@import "../../../../../assets/variables.scss";

.adnotated-image{
    display: flex;
    flex-direction: column;
    // margin-right: 1rem;

    &__container {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    &__adnotation {
        color: $emerald-light-grey;
    }

}

// @media screen and (max-width: 768px) and (min-width: 400px) {
//     .adnotated-image{
//     }
// }

// @media screen and (max-width: 400px) {
//     .adnotated-image{
//     }
// }