<div class="adnotated-image">
    <div class="adnotated-image__container">
        <img [width]="posterSize" src={{posterUrl}}>
    </div>
    <div class="adnotated-image__adnotation">
        {{adnotation}}
    </div>
</div>