@import url('//fonts.googleapis.com/css?family=Roboto|Material+Icons');
@import "./assets/variables.scss";

/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
    background-color: $emerald-black;
    height: 0;
}
body:after {
    font-family: 'Material Icons';
} 